$nd-primary-color: #1780E3;
$nd-success-color: #52C41A;
$nd-warning-color: #FA8C16;
$nd-danger-color: #FF4D4F;

$nd-disabled-color: #DDDDDD;

$nd-primary-click-color: #1366B6;
$nd-success-click-color: #4CAA1E;
$nd-warning-click-color: #CB6C06;
$nd-danger-click-color: #DC0002;

$nd-default-border-color: #C6C6C8;


$nd-white: #fff;
$nd-text-color: #333;


/* 清除浮动 - 使用双伪元素清除浮动 */

